* {
  margin: 0;
  padding: 0
}

.container {
  padding: 0;

}

body {
  font-family: 'latosemibold';
  font-size: 15px;
  line-height: 25px;
  color: #8A8A8A;
}

a:focus {
  outline: 0 solid
}

img {
  max-width: 100%;
  height: auto
}

a {
  text-decoration: none
}

a:hover {
  text-decoration: none
}

a:focus {
  outline: 0 solid
}

a:hover,
a>*:hover,
a:focus,
a>*:focus {
  text-decoration: none
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin-bottom: 15px
}

.section-padding {
  padding: 45px 0 30px;
}

.latest-product-area.section-padding {
  padding: 78px 0 50px;
}

.men_clothingcurosel_area.section-padding {
  padding: 55px 0 90px;
}

.touch-area.section-padding {
  padding: 84px 0 30px;
}

.touch-area .headline {
  margin-top: 0px;
}

.product-list-area.section-padding {
  padding: 9px 0 30px;
}

.check-contact.section-padding {
  padding: 75px 0 30px;
}

.search-result-area.section-padding {
  padding: 89px 0 30px;
}

.wish-area.section-padding {
  padding: 89px 0 30px;
}

.check-contact .headline {
  margin: 11px 0 50px;
}

.single-product-area.section-padding {
  padding: 90px 0 30px;
}

.headline {
  margin: 11px 0 50px;
}

.footer-padding {
  padding: 45px 0 90px;
}

/* ============================================
Homepage
===============================================*/
.header-area {
  background: #2c2e32
}

.header-area a,
.header-area li {
  color: #fff;
}

.header-area a:hover,
.header-area span:hover,
.header-area p:hover,
.header-area li:hover {
  color: #F89D18;
}

.user-menu ul.list-unstyled.list-inline li.dropdown.dropdown-small a.dropdown-toggle span.value {
  font-family: 'latoregular';
  font-size: 13px;
}

.user-menu ul.list-unstyled.list-inline li {
  font-family: 'latoregular';
  font-size: 13px;
  text-align: left;
}

.user-menu ul li a {
  border-right: 1px solid #fff;
  padding-right: 28px;
}

.user-menu ul li {
  padding: 15px 32px 15px 0;
}

.user-menu ul.list-inline {
  margin: 0;
  text-align: left;
}

.user-menu ul.list-inline li a {
  display: block
}

.home_three .owl-carousel .owl-item img {
  display: block;
  margin: inherit;
  width: auto;
}

.user-menuul.list-inline li ul a {
  padding: 5px 15px
}

.user-menu ul.list-inline li ul {
  border: medium none;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  left: 50%;
  margin-left: -50px;
  min-width: 100px;
  text-align: center
}

.header-right ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
  text-align: right
}

.header-right ul li {
  display: inline-block;
  padding: 15px 10px 15px 0;
}

.header-right ul li a {
  border-right: 1px solid #fff;
  display: block;
  font-size: 13px;
  padding-right: 17px;
  font-family: 'latoregular';
  font-size: 13px;
  text-align: left;
}

.header-right ul li.dropdown.dropdown-small a.dropdown-toggle span.value {
  font-family: 'latoregular';
  font-size: 13px;
}

.header-right ul li.last-child a {
  border-right: 0px solid #fff;
}

.header-right ul li.last-child a.logg {
  padding-right: 0px;
}

.header-right li a i.fa {
  margin-right: 5px
}

.header-right ul li.dropdown.dropdown-small a.dropdown-toggle img.account {
  margin-top: -9px;
  margin-right: 5px;
}

.header-right ul li a img.login {
  margin-top: -9px;
  margin-right: 5px;
}

.account-menu ul li {
  text-align: left;
}


/*----------------
    Logo_area
-----------------*/

.logo_area {
  background: #fff none repeat scroll 0 0;
  padding: 45px 0 35px;
}

.logo { 
  margin-top: 5px;
  width: 100%;
}

.navbar-default .navbar-nav>li>a {
  color: #555
}

.navbar {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0
}

.navbar-default {
  background: #fff
}

.logo_area_middle .navbar-nav>li>a {
  border-right: 1px solid #e7e7e7;
  margin-left: -30px
}

.logo_input input[type="text"] {
  border: 0 solid #fff;
  color: #555;
  display: inline-block;
  font-size: 13px;
  padding: 8px 10px;
  width: 181px;
  font-style: italic
}

.form-control:focus {
  border-color: #fff;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none
}

.logo_input,
.form-control {
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none
}

.logo_middle_left {
  float: left;
  width: 90%
}

/* location ------------------------------------------------ */
.location-input-button {
  display: flex;

}

.location {
  height: 46px;
  background: #f6f6f6 none repeat scroll 0 0;
  border: 0.5px solid #676363;
  border-radius: 5px 0 0 5px;
  padding-left: 13px;
  padding-right: 13px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.set-location {
  color: grey;
}

.set-location:hover {
  color: rgb(63, 60, 60);
}

.search-input {
  padding: 9px 13px;
  width: 450px;
}

.search-btn {
  height: 45px;
  background: #000 none repeat scroll 0 0;
  border-left: 0.1px solid #e0e0e0;
  border-radius: 0px 5px 5px 0px;
  display: inline-block;
  color: #e0e0e0;
  padding: 8px 19px 12px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

}

.search-btn:hover {
  color: #e0e0e0;
  transform: scale(1.01);
  /* Increase size on hover */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);

}

/* Media query for screens smaller than 768px (tablets and smaller devices) */
@media (max-width: 1281px) {

  .location-input-button {
    margin-top: 20px;
  }

  .location {
    height: 46px;
    width: 40%;
  }

  .search-input {
    width: 100%;
    /* Make input full width */
    margin-right: 0;
    margin-bottom: 10px;
  }
}

@media (max-width: 768px) {
  .logo-search-wishlist {
    flex-direction: column;
    align-items: center;
  }

  .location-input-button {
    margin-top: 20px;
  }

  .location {
    height: 46px;
  }

  .search-input {
    width: 100%;
    /* Make input full width */
    margin-right: 0;
    margin-bottom: 10px;
    border-radius: 0;
  }
}

/* Media query for screens smaller than 576px (phones and smaller devices) */
@media (max-width: 486px) {
  .logo-search-wishlist {
    flex-direction: column;
    align-items: center;
  }

  .location-input-button {
    margin-top: 20px;
  }

  .location {
    height: 46px;
    width: 45%;

  }

  .search-input {
    width: 100px;
    /* Make input full width */
    margin-right: 0;
    margin-bottom: 10px;
  }
}
@media (max-width: 486px) {
  .logo-search-wishlist {
    flex-direction: column;
    align-items: center;
  }

  .location-input-button {
    margin-top: 20px;
  }
  .set-location{
   
   position:relative;
   top: -5px;
  }
  .location {
    height: 35px;
    width: 50%;
  }

  .search-input {
    height: 35px;
    width: 100px;
    /* Make input full width */
    margin-right: 0;
    margin-bottom: 10px;
    
  }
  .search-btn{
    height: 35px;
  }  
}
ul,
ol {
  margin-bottom: 0px;
  margin-top: 0;
}

.search-area .search-button::after {
  color: #b2b2b2;
  content: "";
  font-family: fontawesome;
  font-size: 13px;
  line-height: 9px;
  vertical-align: middle;
}

.search-area .search-button {
  height: 43px;
  background: #000 none repeat scroll 0 0;
  border-left: 2px solid #e0e0e0;
  border-radius: 0;
  display: inline-block;
  float: left;
  margin: 0;
  padding: 8px 19px 12px;
  text-align: center;
}

.search-area .search-button:hover {
  background: #F89D18 none repeat scroll 0 0;
}

.nav .open>a,
.nav .open>a:hover,
.nav .open>a:focus {
  background: #eee;
  border-color: #eee
}

.search {
  background: #000 none repeat scroll 0 0;
  float: right;
  padding: 16px;
  width: 10%
}

.search i {
  color: #fff
}

.search-area form div.control-group ul.categories-filter.animate-dropdown li.dropdown a.dropdown-toggle {
  font-family: 'latosemibold';
  font-size: 12px;
}

.logo_right {
  float: left;
  margin-left: 18px;
  width: 26.4%;
}

.logo_right span {
  background: #f89d18 none repeat scroll 0 0;
  cursor: pointer;
  float: left;
  padding: 3px 16px;
  width: 60px;
  margin-left: 9px;
}

.logo_right i {
  font-size: 35px;
  color: #fff;
}


.logo-search-wishlist {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.list-count {
  display: flex;
  align-items: center;
}
.wishlist-btn {
  height: 56px;
  width: 165px;
  background: none repeat scroll 0 0 #5A5E64;
  color: #FFFFFF;
  cursor: pointer;
  /* float: left; */
  font-family: 'latosemibold';
  font-size: 16px;
  line-height: 55px;
  width: 105px;
  text-align: center;
}
.wishlist-count {
  background: #f89d18 none repeat scroll 0 0;
  color: #fff;
  height: 56px;
  padding: 10px 21px;
  cursor: pointer;
  font-family: 'latosemibold';
  font-size: 16px;
  line-height: 31px;
}
.menu_right span {
  background: #f89d18 none repeat scroll 0 0;
  color: #fff;
  float: right;
  height: 48px;
  padding: 10px 21px;
  width: 54px;
  cursor: pointer;
  font-family: 'latosemibold';
  font-size: 16px;
  line-height: 31px;
}



.wid-rating h4 a {
  font-family: 'latobold';
}
.headline {
  border-bottom: 2px solid #eeeeee;
  display: block;
  margin-bottom: 21px;
  margin-top: 11px;
}

.latest-product-area .headline {
  margin-bottom: 54px;
}

.headline h2 {
  border-bottom: 2px solid #f89d18;
  color: #222222;
  display: inline-block;
  font-family: "Bitter";
  font-size: 24px;
  font-weight: 400;
  margin: 0 0 -2px;
  padding-bottom: 22px;
  text-transform: uppercase;
}

.laest-blog-area .headline {
  margin-bottom: 52px;
}

.widget_single>h4 {
  font-family: "latoheavy";
}

.hot-deal .owl-nav {
  position: absolute;
  right: 0;
  top: -70px;
}
.wid-rating {
  color: #f89d18;
  margin-bottom: 20px;
  margin-top: 19px;
  padding-left: 13px;
}

.hot-wid-rating {
  color: #f89d18;
  margin-bottom: 17px;
  margin-top: 20px;
  padding-left: 20px;
  overflow: hidden;
}

.women-single img {
  width: 100%;
}

.wid-rating h4 {
  font-family: "latosemibold";
  font-size: 14px;
  text-transform: uppercase;
  margin-bottom: 7px;
}

.hot-wid-rating h4 {
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 500;
}

.wid-rating a {
  color: #333333;
}

.wid-rating a:hover,
.hot-wid-rating a:hover,
.footer-widget a:hover,
.blog-text a:hover,
.product-wid-rating h4 a:hover,
.single-wid-product h2 a:hover {
  color: #F9AC18;
}

.hot-wid-rating a {
  color: #333333;
}

.product-wid-price ins {
  color: #222222;
  float: left;
  font-size: 20px;
  margin-right: 20px;
  padding-top: 3px;
  text-decoration: none;

}

.product-wid-price {
  margin-bottom: 27px;
  margin-top: 20px;
  display: flex;
  align-items: center;

}


.tag {
  left: 35px;
  position: absolute;
  top: 40px;
}

.new span {
  background: #f89d18 none repeat scroll 0 0;
  border-radius: 18px;
  color: #fff;
  height: 40px;
  width: 40px;
  display: block;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
}



h4.hr {
  position: relative;
}

h4.hr::after {
  background: #f69e18 none repeat scroll 0 0;
  border: medium none;
  content: "";
  height: 96px;
  left: -11px;
  margin: 0 auto 20px;
  opacity: 0.8;
  position: absolute;
  top: 0;
  width: 2px;
}




/*=====================
   Footer_top
======================*/

.top-border {
  border: 1px solid #eaeaea;
  margin-bottom: 50px;
}

.footer_top_area {
  background: #fff
}

.footer_top_single {
  border: 1px solid #ededed;
  padding-left: 55px;
  position: relative;
  background: #fff;
}

.footer_top_single i.fa {
  font-size: 25px;
  left: 17px;
  top: 6px !important;
  padding-top: 21px;
  position: absolute;
  text-align: center;
  top: -10px;
  color: #f89d18;
}

.footer_top_single p {
  color: #777777;
  font-size: 14px;
  font-family: 'latoregular', serif;
  margin-bottom: 24px;
  line-height: 19px;
  margin-top: 8px;
}

.footer_top_single h4 {
  color: #222222;
  font-family: "latosemibold", serif;
  font-size: 14px;
  font-weight: bold;
  margin-bottom: 5px;
  margin-top: 27px;
  text-transform: uppercase;
}

/*=====================
  Footer_wiget
======================*/

.footer-widget {
  background: #6F7375;
}

.ovelay {

  margin: 0;
  padding: 78px 0 52px;
}

.footer-widget a {
  color: #fff;
  font-size: 14px;
  font-family: 'latosemibold', serif;
}

.widget_logo ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
  text-align: left
}

.men_clothingcurosel_area .headline {
  margin-bottom: 48px;
}

.widget_logo ul li {
  display: inline-block;
  padding: 10px 0
}

.widget_logo ul li i {
  font-size: 24px;
  padding-right: 20px
}

.widget_single h4 a {
  color: #fff;
  font-family: "latoheavy";
  font-size: 16px;
  text-transform: uppercase;
}

.widget_logo ul li a span {
  text-transform: uppercase;
}

.widget_single ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
  text-align: left
}

.widget_single ul li {
  display: block;
  padding: 5px 0;
}

/*=====================
  Footer_area
======================*/

.footer_area {
  background: #0f0f0f;
  color: #fff;
  padding: 20px 0
}

.footer_text p {
  text-transform: uppercase;
}

.footer_right img {
  float: right
}

.wl_left {
  float: left;
  width: 40px;
}

.wl_left i {
  color: #fff;
}

.wl_right {
  float: left;
  width: 221px;
}

.women_clothing.section_padding.section-bg {
  padding-bottom: 50px;
}

.homepage-three .footer_top_area.footer-padding {
  background: #eeeeee;
}

.widget_logo>img {
  margin-bottom: 16px;
}

.footer_right>ul {
  float: right;
  list-style: outside none none;
  margin: 0;
  padding: 0;
}

.footer_right li {
  float: left;
  margin-right: 5px;
}

.footer_right ul li a img {
  display: inline-block;
}

.widget_logo img {
  margin-bottom: 18px;
}

.footer_text a {
  color: #fff;
}

.footer_text a:hover {
  color: #F89D18;
}
/*  breadcrumb  */

.title-breadcrumb {
  background: #5A5F65;
}

.bred-title h3 {
  text-transform: uppercase;
  font-size: 18px;
  color: #fff;
  margin-top: 15px;
  font-family: 'latosemibold', serif;
}

.breadcrumb {
  background: #5A5F65;
  float: right;
  border-radius: 0px;
  list-style: none;
  margin-bottom: 0px;
  padding: 0px;
  margin-top: -35px;
  font-size: 13px;
}

.breadcrumb li a {
  color: #fff;
  font-size: 13px;
  font-family: 'latosemibold', serif;
  text-transform: uppercase;
}




.product-single {
  border: 1px solid #f3f2f2;
  margin-bottom: 30px;
  padding: 4px;
  box-shadow: 0 0px 25px 11px rgba(0, 0, 0, 0.1);
  width: 250px;
  height: 365px;
}

.productName-star {
  display: flex;
  justify-Content: space-between;
  position: relative;
  top: -20px;
}


/* ============================================
 Wishlist page
===============================================*/
.add_cart-contact {
  display: flex;
  justify-content: space-between;
  top: 323px;
  position: absolute;
  margin-left: 2.5px;

}
.wish-button button {
  background: #f89d18 none repeat scroll 0 0;
  border-radius: 0;
  color: #fff;
  margin-left: 20px;
  margin-top: 17px;
  text-transform: uppercase;
}

.wish-button button.btn.btn-default.clear-list {
  background: #222 none repeat scroll 0 0;
  border-radius: 0;
  color: #fff;
  margin-left: 20px;
  margin-top: 17px;
  text-transform: uppercase;
}

.already-have-account {
  margin-top: 60px;
}
.cart-product-quantity {
  text-align: center;
}

.cart-product-description a {
  font-size: 16px;
  color: #333333;
  text-transform: uppercase;
}

.cart-product-delivery {
  color: #87ca3d;
  font-size: 13px;
  text-align: center;
  text-transform: uppercase;
}

.cart-product-price,
.cart-product-sub-total {
  font-size: 13px;
  text-align: center;
}

.quant-input {
  display: inline-block;
  height: 35px;
  margin-top: 19px;
  position: relative;
  width: 70px;
}

.cc-pr {
  padding-top: 18px;
}

.romove-item>a {
  display: block;
  margin-top: 15px;
}

.size-cart a {
  color: #ffffff;
  display: block;
  font-size: 15px;
  font-weight: 600;
  height: 40px;
  padding-top: 12px;
  text-align: center;
  text-transform: uppercase;
  width: 175px;
}

.quant-input input {
  background: #ffffff none repeat scroll 0 0;
  border: 1px solid #f2f2f2;
  box-sizing: border-box;
  font-size: 15px;
  height: 35px;
  left: 0;
  margin-top: 0;
  padding: 0 5px 0 10px;
  top: 0;
  width: 70px;
}

.table-responsive table.table.table-bordered thead tr th {
  background: #f8f8f8 none repeat scroll 0 0;
  padding: 16px 0;
  text-align: center;
  text-transform: uppercase;
}

.table-responsive table.table.table-bordered thead tr th td {
  text-align: center;
}

.table-bordered tbody tr td.cart-image {
  width: 203px;
  height: 203px;

}

.entry-thumbnail>img {
  display: block;
  margin: 15px auto;
}

.cc-tr-inner {
  margin-top: 27px;
  padding-left: 16px;
}

.table-bordered tbody tr td.romove-item {
  text-align: center;
}

.table-bordered tfoot tr td {
  background: #f8f8f8 none repeat scroll 0 0;
  padding: 27px 0;
}

.shopping-cart-btn button.btn.btn-default.left-cart {
  background: #f89d18 none repeat scroll 0 0;
  border: 0 solid;
  border-radius: 0;
  color: #ffffff;
  height: 45px;
  margin-left: 20px;
  margin-top: 0px;
  text-transform: uppercase;
  width: 200px;
}

.shopping-cart-btn button.btn.btn-default.left-cart:hover {
  background-color: #e6e6e6;
  border-color: #adadad;
  color: #333333;
}

.dropdown-menu>li>a:hover,
.dropdown-menu>li>a:focus {
  background-color: #fff;
  color: #F89D18;
  text-decoration: none;
}

.user-menu ul li ul.dropdown-menu li {
  padding: 0 1px 9px 0;
}

.header-right ul li ul.dropdown-menu li {
  display: block;
  padding: 10px 11px;
  border-bottom: 1px solid #eaeaea;
}

.dropdown-menu {
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0px;
  min-width: 152px;
  padding: 5px 0;
  top: 98%;
}

.shopping-cart-btn button.btn.btn-default.right-cart {
  background: #ffffff none repeat scroll 0 0;
  border-radius: 0;
  color: #777777;
  float: right;
  height: 45px;
  margin-left: 20px;
  margin-top: 0px;
  text-transform: uppercase;
}

.shopping-cart-btn button.btn.btn-default.right-cart:hover {
  background: #f89d18 none repeat scroll 0 0;
  color: #333;
  border: 1px solid #f89d18;
}

.shopping-cart-btn button.btn.btn-default.right-margin {
  margin-right: 20px;
}

.product-single img {
  width: 100%;
}

form {
	max-width: 600px;
	margin: 0 auto;
	background-color: #fff;
	padding: 20px;
	border-radius: 8px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .form-label {
	font-weight: bold;
  }
  
  .form-control {
	width: 100%;
	padding: 8px;
	margin-bottom: 15px;
	border: 1px solid #ced4da;
	border-radius: 4px;
  }
  .title {
    display: grid;
    place-content: center;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 5.8em);
    gap:80px;
    place-content: center;
  }
  .grid-elements {
  
    background-color: rgb(229, 225, 233);
    height: 60px;
    width:60px;
    border-radius: 50%;
  }
  
  .center{
    display:flex;
    flex-direction:column;
    align-items:center;
    cursor: pointer;
      
  }
/* ============================================
login page
===============================================*/


.login-cointainer {
  position: relative;
  top: 100px;
}

.Register-cointainer {
  position: relative;
  top: 40px;
}
.mail-left {
  display: flex;
  justify-content: center;
  align-items: center;

}

.mail-left form input {
  border: 1px solid #dddddd;
  height: 35px;
  margin-bottom: 24px;
  margin-top: 5px;
  padding: 0 15px;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mail-btn button {
  border: 0 solid;
  float: left;
  height: 30px;
  padding-top: 4px;
  width: 88px;
}

.mail-rbtn button {
  height: 30px;
  padding-top: 4px;
  width: 120px;
}

.mail-btn button,
.mail-rbtn button {
  background: #f89d18 none repeat scroll 0 0;
  border: 1px solid #f89d18;
  border-radius: 0;
  color: #fff;
  margin-top: 17px;
  text-transform: uppercase;
}

.mail-btn a {
  color: #ff2a39;
  float: left;
  font-size: 13px;
  margin-left: 15px;
  margin-top: 20px;
  width: 153px;
}

.mail-right {
  margin-top: -25px;
}

.mail-right h3 {
  color: #333333;
  font-family: "latoheavy";
  font-size: 20px;
  font-weight: normal;
  text-transform: uppercase;
}
.form_submit>input[type="submit"] {
  background: #ff9b20 none repeat scroll 0 0;
  border: medium none;
  color: #fff;
  padding: 8px 29px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 600;
}

.form_submit>input[type="submit"]:hover {
  background: #000 none repeat scroll 0 0;
}

.form_submit {
  margin-top: 33px;
  margin-bottom: 18px;
}

/* End Of Style */